@import './variables';
@import './mixins';
@import './typography';

input {
    all: unset;
}

button {
    all: unset;
}

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    color: $text-primary;
    background-color: $bg-primary;
}

a {
    text-decoration: none;
    color: $text-primary;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: $white;
    background: $accent;
}

@include h {
    margin: 0;
}

h1 {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1.75rem; 
}