$white: #fff;
$black: #000;
$bg-primary: #f9f9f9;
$bg-secondary: #222222;
$text-primary: #222;
$text-primary-muted: #595959;
$text-secondary: #fff;
$text-secondary-muted: #c7c7c7;
$accent: #e32636;


$border-radius: 35px;

:export {
    white: $white;
    black: $black;
    bgPrimany: $bg-primary;
    bgSecondary: $bg-secondary;
    textPrimary: $text-primary;
    textSecondary: $text-secondary;
    accent: $accent;
}