@import '../utilities/mixins';
@import '../utilities/variables.scss';

.container {    
    cursor: pointer;
    @include shadow;
    border-radius: $border-radius;
    position: relative;
    user-select: none;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    .content {
        position: inherit;
        border-radius: inherit;
        box-sizing: border-box;
        height: 100%;
        @include flex(column, flex-end);
        color: $text-secondary;
        padding: 10px;
        text-align: center;
        @include h {
            transition: 0.1s ease-in-out;
        }
        h1 {
            font-family: Montserrat;
            font-size: 2rem;
            font-weight: 500;
            margin: 0 0 20px;
        }
        h2 {
            margin-bottom: 15px;
            font-size: 1.125rem;
            font-weight: 400;
            margin: 0 0 10px;
            span {
                font-size: 0.75rem;
            }
        }
        p {
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0;
            span {
                font-size: 0.75rem;
                font-weight: 400;
            }
        }
    }

    .background { 
        border-radius: inherit;
        position: absolute;
        background-position: center;
        background-size: 100%;
        top: 0; right: 0; bottom: 0; left: 0;
    }

    .background::before {
        border-radius: inherit;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.26%, rgba(0, 0, 0, 0.74) 88.02%);
        transition: opacity 0.2s linear;
        opacity: 1;
    }

    .background::after {
        border-radius: inherit;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.2s linear;
        opacity: 0;
    }

    .background::after,
    .background::before {
        position: absolute;
        content: "";
        top: 0; right: 0; bottom: 0; left: 0;
    }
    .overlay {
        position: absolute;
        top: 35%; bottom: 35%; left: 0; right: 0;
        opacity: 0;
        transition: opacity 0.2s linear;
        @include flex;
        a, button {
            @include flex;
        }
        svg {
            width: 60%;
            @include clickable;
            fill: $text-secondary;
        }
    }
}

.selected { pointer-events: none; }
.selected,
.container:hover {
    .background::after { opacity: 1; }
    .withOverlay { @include h { flex-grow: 1; opacity: 0;} }
    .withOverlay::before { content: "More"}
    .noOverlay{ @include h { flex-grow: 0.5; } }
    .overlay { opacity: 1; }
}