@import '../utilities/mixins';
.categorySelector {
    @include flex;
    width: 100%;
    height: 270px;
    margin-top: 20px;
    gap: 20px;
    a {width: 100%; height: 100%;}
    a > div {
        width: 100%;
        height: 100%;
        aspect-ratio: auto;
        border-radius: 20px;
    }
    a:last-child > div {
        border-radius: 20px 40px 40px 20px;
    }
    a:first-child > div {
        border-radius: 40px 20px 20px 40px;
    }
}
.container {
    @include flex(row, center, flex-start);
    @include grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px 0;
    .filters {
        position: sticky;
        top: 20px;
        @include flex(column);
        ul, li, button {
            width: 100%;
        }
        li:not(:last-child) {
            margin-bottom: 20px;
        }
        ul {
            padding: 20px 0;
        }
        .button {
            @include button(false);
            padding: 15px;
        }
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 1rem;
    }
    h1 {
        text-align: center;
    }
}