@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/typography';

.container {
    @include box;
    .top {
        @include flex(row, space-between);
        padding: 0 20px 20px;
        ul {
            @include flex;
        }
        li {
            font-family: 'Montserrat';
            font-weight: 400;
            color: $text-primary-muted;
            font-size: 1.125rem;
            margin-left: 40px;
        }
    }
    button {
        @include clickable;
    }
    .selected {
        pointer-events: none;
        font-weight: 500;
        color: $text-primary;
    }
}